<div>
  <h1>Login</h1>
	<form action="/auth" method="post">
		<label for="email">
			<!-- font awesome icon -->
			<i class="fas fa-user"></i>
		</label>
		<input type="email" name="email" placeholder="email" id="email" required>
		<label for="password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Password" id="password" required>
		<input type="submit" value="Login">
	</form>
</div>